html {
  background: url("images/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: red;
}

.header {
  text-align: center;
}

.header a {
  background-color: white;
  padding: 5px;
  border-radius: 12px;
}

.cover {
  height: 500px;
  text-align: center;
}

.block {
  background-color: white;
  padding: 5px;
  margin: 10px;
  border-radius: 12px;
}

.commentBlock {
  background-color: grey;
}

.pageBlock {

  background-color: #586477;
  height: 700px;
  padding-left: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 12px;
}

.pageBlock p {
  color: white;
}

.artist {
  height: 200px;
  width: 150px;
}