<div class="pageBlock">
  <p>Content soon to come!</p>
</div>
<div class="block">
  <div ng-submit="addComment(username, message)">
    <form name="commentForm">
      <label for="username">Username</label>
      <input type="text" id="username" ng-model="username">
      <label for="comment">Comment</label>
      <input type="text" id="comment" ng-model="message">
      <button>Post</button>
    </form>
    <div>
      <ul>
        <li ng-repeat="comment in comments">
          <h4>{{ comment.username }}</h4>{{ comment.comment }}
        </li>
      </ul>
    </div>
  </div>
</div>